:root{
    --gray: #34393d;
    --orange: #d9593f;
    --gray-white: #7e7979;;
}   

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Economica', sans-serif;
    color: hsl(0, 0%, 100%);
}

/* Header beggining */

#button_to_top{
    position: fixed;
    z-index: 99;
    opacity: .7;
    font-size: 2em;
    border: none;
    background-color: var(--gray);
    bottom: 1em;
    right: 1em;
    text-align: center;
    padding: 0.1em 0.4em;
    border-radius: 10px;
    display: none;
}

#button_to_top i{
    font-size: 1em;
}

header{
    text-align: center;
}

.bar{
    content: "";
    position: relative;
    background-color: var(--gray);
    height: 13vw;
}

.logo{
    width: 12em;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--gray);
    position: relative;
    height: max-content;
    padding: 2px;
}

.menu a{
    background-color: var(--gray);
    text-decoration: none;
    padding: 0.7em 0.6em;
    text-align: center;
    font-size: 1.2em;
    align-self: center;
    border: 1px #FFF solid;
    border-radius: 1px;
}

.select{
    color: var(--orange);
}
/* Header end */

.header_title p{
    font-size: 15vw;
    color: var(--orange);
    font-weight: 900;
    text-shadow: #34393d 2px 1px 2px;
    text-align: center;
    margin: 1em 0 1.5em;
}

/* SlideShow beggining */

.slideshow{
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em auto;
}

.slides{
    border: 1px solid rgba(0, 0, 0, 0.473);
}


.pic_identifier{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
    opacity: .7;
    border-radius: 2px;
}

.pictures{
    color: #FFF;
    font-size: 1.7em;
}

.btns_slideshow{
    position: absolute;
    background-color: var(--gray);
    color: #FFF;
    font-size: 2em;
    padding: 0.2em;
    opacity: .6;
    top: 25%;
    border-radius: 25px;
}

.btn_left{
    left: 0;
}

.btn_right{
    right: 0;
}

.display_names{
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    background-color: var(--gray);
    width: 100%;
    box-shadow: black 1px 1px 1px;
    margin: 0 0 5em;
}

.names{
    font-size: 11vw;
    opacity: 1;
    text-shadow: 1px 1px 2px  black;
    color: #FFF;
}


/* SlideShow END */

/*  Place to go Start */

.about{
    display: flex;
    flex-direction: column;
    margin: 0 12vw;
}

.id_place{
    font-size: 5em;
    color: var(--gray);
}

.name_place{
    font-size: 2.5em;
    color: var(--orange);
    margin-bottom: .5em;
}

.details_place{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1.3em;
    color: #000;
}

.about_place{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: #000;
}

.about_place a{
    color: #000;
}

.btn_detalhes{
    margin: 3vw 0 20vw;
    display: flex;
    flex-direction: row;
    width: 38vw;
    background-color: #7e7979;
    font-size: 1em;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px .5em;
    text-decoration: none;
}

.principal_color{
    background-color: var(--orange);
    padding: 0.7em;
}

.other_color i {
    color: #FFF;
    font-weight: 900;
}

footer .bar{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw 0 1vw;
}

footer .footer_text{
    color: #FFF;
    font-size: .8em;
    margin: 1em 0 3em;
    opacity: 0.7;
}

