:root{
    --gray: #34393d;
    --orange: #d9593f;
    --gray-white: #7e7979;;
}   

html{
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

/* Header beggining */

#button_to_top{
    position: fixed;
    z-index: 99;
    opacity: .7;
    font-size: 2em;
    border: none;
    background-color: var(--gray);
    bottom: 1em;
    right: 1em;
    text-align: center;
    padding: 0.1em 0.4em;
    border-radius: 10px;
    display: none;
}

#button_to_top i{
    font-size: 1em;
}


header{
    text-align: center;
    margin-bottom: 1em;
    
}

.bar{
    content: "";
    position: relative;
    background-color: var(--gray);
    height: 13vw;
}

.logo{
    width: 12em !important;
    height: auto !important;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--gray);
    position: relative;
    height: max-content;
    padding: 2px;
    
}

.menu a{
    background-color: var(--gray);
    text-decoration: none;
    padding: 0.7em 0.6em;
    text-align: center;
    font-size: 1em;
    align-self: center;
    border: 1px #FFF solid;
    border-radius: 1px;
    color: hsl(0, 0%, 100%);
}

.select{
    color: var(--orange) !important;
}



/* Header end */

.header_title p{
    font-size: 3.4em;
    color: var(--orange);
    font-weight: 900;
    text-shadow: #34393d 2px 1px 2px;
    text-align: center;
    

}
/* SlideShow beggining */

img {
    width: 95vw !important;
    height: 95vw !important;
    object-fit: cover;
    margin: 0 auto;
}



.slideshow{
    width: 95vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1em auto;
}

.slides{
    border: 1px solid rgba(0, 0, 0, 0.473);
}


.pic_identifier{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: row;
    background-color: var(--gray);
    opacity: .7;
    border-radius: 2px;
}

.pictures{
    color: #FFF;
    font-size: 1.7em;
}

.btns_slideshow{
    position: absolute;
    background-color: var(--gray);
    color: #FFF;
    font-size: 2em;
    padding: 0.2em;
    opacity: .6;
    top: 25%;
    border-radius: 25px;
}

.btn_left{
    left: 0;
}

.btn_right{
    right: 0;
}

.display_names{
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    background-color: var(--gray);
    width: 100%;
    box-shadow: black 1px 1px 1px;
}

.names{
    font-size: 2em;
    opacity: 1;
    text-shadow: 1px 1px 2px  black;
    color: #FFF;
}


/* SlideShow END */

/*  Place to go Start */
.container-viagens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4em 1em;
}

.about{
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
}


.id_place{
    font-size: 5em;
    color: var(--gray);
}

.name_place{
    font-size: 2.5em;
    color: var(--orange);
    margin-bottom: .5em;
}

.details_place{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1.3em;
    color: #000;
}

.about_place{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: #000;
}

.about_place a{
    color: #000;
}

.btn_detalhes{
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    width: 10em;
    background-color: #7e7979;
    font-size: 1em;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px .5em;
    text-decoration: none;
}

.principal_color{
    background-color: var(--orange);
    padding: 0.7em;
}

.other_color i {
    color: #FFF;
    font-weight: 900;
}

.cities_section{
    padding: 0.3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_cities{
    margin: 0 0 1em;
    color: #000;
    text-align: justify;
}

.description_reserve{
    color: #000;
    font-size: 1.4em;
    margin: .8em 0;
    text-align: center;
}

.cities_section ul, .cities_section li{
    color: #000;
    font-size: 1.5em;
}

.button_cities{
    background-color: var(--gray);
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
    padding: 0.3em;
    margin: 0 0 2em;
    border: 1px solid var(--gray);
}

footer .bar{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw 0 1vw;
}

footer .footer_text{
    color: #FFF;
    font-size: .8em;
    margin: 1em 0 3em;
    opacity: 0.7;
    text-align: center;
}


@media screen and (max-width: 480px){
    .container-viagens{
        flex-wrap: nowrap;
        flex-direction: column
    }

    .about{
        width: 70vw !important;
        margin: 0 auto 2em;
    }
}


@media screen and (min-width: 375px) {
    img {
        width: 95vw !important;
        height: 95vw !important;
        object-fit: cover;
        margin: 0 auto;
    }
}

@media screen and (min-width: 655px) {
    img {
        width: 95vw !important;
        height: 95vw !important;
        object-fit: cover;
        margin: 0 auto;
    }
} 


@media screen and (min-width: 700px) {
    img {
        width: 50vw !important;
        height: 50vw !important;
        object-fit: cover;
        margin: 0 auto;
    }

    .slideshow{
        width: 50vw !important;
    }

    .catalogue_trip-container{
        display: flex;
        flex-direction: row;
        padding: 3em;
    }

    .catalogue_trip-container_information{
        padding: 1em 0em 0 3em;
    }

    .cities_section{
        gap: 1em !important;
    }

    .description_reserve{
        margin: 2em 0;
    }

    .button_cities{
        margin: 0 !important;
    }
}


@media screen and (min-width: 834px) {
    img {
        width: 45vw !important;
        height: 45vw !important;
        object-fit: cover;
        margin: 0 auto;
    }

    .slideshow{
        width: 45vw !important;
    }

    
}

@media screen and (min-width: 1024px) {
    img {
        width: 45vw !important;
        height: 45vw !important;
        object-fit: cover;
        margin: 0 auto;
    }

    .slideshow{
        width: 45vw !important;
    }

}

@media screen and (min-width: 1284px) {
    img {
        width: 45vw !important;
        height: 45vw !important;
        object-fit: cover;
        margin: 0 auto;
    }

    .slideshow{
        width: 45vw !important;
    }
} 